USE [liPruebas]
GO
/****** Object:  StoredProcedure [dbo].[SP_BuscarResultadosEstudiosLaboratoriosWeb]    Script Date: 30/06/2025 05:02:06 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:     
-- Create date: 29/05/2025
-- Description: Devuelve reportes de estudios por paciente (Vista Web)
-- =============================================
CREATE PROCEDURE [dbo].[SP_BuscarResultadosEstudiosLaboratoriosWeb]
    @PacienteId BIGINT,
    @FiltroEstudio NVARCHAR(200) = NULL,
    @FiltroFecha DATE = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        medicos.NombreDoctor AS Medico,
        
        -- Agrupar estudios en una sola celda por folio
        STUFF((
            SELECT CHAR(10) + te2.NombreEstudio
            FROM DetalleEstudios det2
            INNER JOIN dbo.TipoDeEstudios te2 ON det2.EstudioId = te2.EstudioID
            WHERE det2.MovimientoId = mov.MovimientoId
              AND det2.Cancelado <> 1
              AND det2.idEstado = 3
            FOR XML PATH(''), TYPE).value('.', 'NVARCHAR(MAX)'), 1, 1, '') AS Estudios,

        CAST(mov.FechaMuestra AS DATE) AS FechaRealizacion,
        mov.FolioDia AS NumeroFolio

    FROM Movimientos mov
    INNER JOIN DetalleEstudios det ON det.MovimientoId = mov.MovimientoId
    INNER JOIN dbo.TipoDeEstudios te ON det.EstudioId = te.EstudioID
    INNER JOIN dbo.Estudio_Estado estadoEstudio ON estadoEstudio.idEstado = det.idEstado
    INNER JOIN dbo.Medicos medicos ON medicos.DoctorId = mov.DoctorId
    INNER JOIN dbo.ImprimeResultados ON mov.FolioDia = dbo.ImprimeResultados.FolioDia
    INNER JOIN hiPruebas24.dbo.DatosPacientes dp ON dp.PacienteId = mov.PacId

    WHERE 
        dp.PacienteId = @PacienteId
        AND det.Cancelado <> 1
        AND det.idEstado = 3
        AND (@FiltroEstudio IS NULL OR 
             te.NombreEstudio LIKE '%' + @FiltroEstudio + '%' OR
             te.TituloReporte LIKE '%' + @FiltroEstudio + '%')
        AND (@FiltroFecha IS NULL OR 
             CAST(mov.FechaMuestra AS DATE) = @FiltroFecha)

    GROUP BY 
        medicos.NombreDoctor,
        mov.MovimientoId,
        CAST(mov.FechaMuestra AS DATE),
        mov.FolioDia

    ORDER BY 
        FechaRealizacion DESC
END