USE [liPruebas]
GO
/****** Object:  StoredProcedure [dbo].[SP_InformacionCuentaLaboratoriosWeb]    Script Date: 30/06/2025 05:03:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_InformacionCuentaLaboratoriosWeb]
    @PacienteId BIGINT
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        IF NOT EXISTS (SELECT 1 FROM hiPruebas24.dbo.DatosPacientes WHERE PacienteId = @PacienteId)
        BEGIN
            SELECT 'Paciente no encontrado' AS mensaje
            RETURN
        END
        
        SELECT 
            dp.PacienteId,
            dp.NombrePac,
			dp.Apellidos,
            dp.NombrePac + ' ' + dp.Apellidos AS NombreCompleto,
            dp.FechaNacimiento,
            crw.Telefono AS TelefonoCelular,
            dp.TipoSangreId,
            crw.CorreoElectronico AS EmailPac,
            dp.SexoPac,
            ts.TipoSangre,
            'Información obtenida exitosamente' AS mensaje
        FROM hiPruebas24.dbo.DatosPacientes dp
        LEFT JOIN hiPruebas24.dbo.TiposDeSangre ts ON dp.TipoSangreId = ts.TipoSangreId
        LEFT JOIN hiPruebas24.dbo.CuentaResultadosWeb crw ON dp.PacienteId = crw.PacienteId
        WHERE dp.PacienteId = @PacienteId
        
    END TRY
    BEGIN CATCH
        SELECT 
            ERROR_MESSAGE() AS mensaje,
            ERROR_NUMBER() AS numeroError,
            ERROR_SEVERITY() AS severidad,
            ERROR_STATE() AS estado
    END CATCH
END
